@charset "UTF-8";

.obody {
	position: absolute;
	margin-top: 130px;
	width: 80%;
	height: 460px;
	left: 4%;
	text-align: center;
	background-color: rgb(249, 249, 249);
	padding-left: 10%;
	padding-top: 60px;
}

.orderfoot {
	position: absolute;
	left: 0px;
	right: 0px;
	margin-top: 650px;
	width: 1290px;
	text-align: center;
	background-color: rgb(220, 220, 220);
	z-index: 1
}