<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>mystore</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>userServlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckCodeServlet</display-name>
    <servlet-name>CheckCodeServlet</servlet-name>
    <servlet-class>userServlet.CheckCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckCodeServlet</servlet-name>
    <url-pattern>/CheckCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>userServlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCartServlet</display-name>
    <servlet-name>AddCartServlet</servlet-name>
    <servlet-class>userServlet.AddCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCartServlet</servlet-name>
    <url-pattern>/AddCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeCartServlet</display-name>
    <servlet-name>ChangeCartServlet</servlet-name>
    <servlet-class>userServlet.ChangeCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeCartServlet</servlet-name>
    <url-pattern>/ChangeCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreatOrderServlet</display-name>
    <servlet-name>CreatOrderServlet</servlet-name>
    <servlet-class>userServlet.CreatOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreatOrderServlet</servlet-name>
    <url-pattern>/CreatOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowProduct</display-name>
    <servlet-name>ShowProduct</servlet-name>
    <servlet-class>userServlet.ShowProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowProduct</servlet-name>
    <url-pattern>/ShowProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsreOrder</display-name>
    <servlet-name>UsreOrder</servlet-name>
    <servlet-class>userServlet.UsreOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsreOrder</servlet-name>
    <url-pattern>/UsreOrder</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>JSPFilter</filter-name>
    <filter-class>service.JSPFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>JSPFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerLogin</display-name>
    <servlet-name>ManagerLogin</servlet-name>
    <servlet-class>userServlet.ManagerLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerLogin</servlet-name>
    <url-pattern>/ManagerLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListUserServlet</display-name>
    <servlet-name>ListUserServlet</servlet-name>
    <servlet-class>userServlet.ListUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListUserServlet</servlet-name>
    <url-pattern>/ListUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServlet</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>userServlet.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/Update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindUserServlet</display-name>
    <servlet-name>FindUserServlet</servlet-name>
    <servlet-class>userServlet.FindUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindUserServlet</servlet-name>
    <url-pattern>/FindUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserServlet</display-name>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>userServlet.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindUserByNServlet</display-name>
    <servlet-name>FindUserByNServlet</servlet-name>
    <servlet-class>userServlet.FindUserByNServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindUserByNServlet</servlet-name>
    <url-pattern>/FindByName</url-pattern>
  </servlet-mapping>
</web-app>